article {
    @include padding-settings;
    background: linear-gradient(rgba(0, 0, 0, 0.5)), url('../images/photo-1480714378408-67cf0d13bc1b.png');
    background-position: center;
    background-size: cover;
    height: 550px;
    color: white;
    display: flex;
    align-items: center;
   }
  
  article::before {
    content: "";
    position: absolute;
    backgroud: $black;
    opacity: 0.63;
   }
  
   article .first {
    margin-top: 10px;
    margin-left: 90px;
    width: 80%;
    max-width: 1200px;
    z-index: 1;
    img {
      margin-top: 30px;
      margin-bottom: 20px;
     }
     h1 {
      font-size: 1.8em;
      padding-top: 20px;
      width: 426px;
      height: 87px;
      text-align: left;
     }
     p {
      width: 651px;
      height: 65px;
      color: $white;
      opacity: 0.8;
     }
    
     button.download {
      border: 2px solid $white;
      color: $white;
      width: 120px;
      background: transparent;
      margin-top: 50px;
      cursor: pointer;
      transition: 0.6s;
     }
    
     button.download:hover {
      border: $peach;
     }
   }
  
  
  
  
   article .second {
    width: 400px;
    height: 425px;
    z-index: 1;
    background:$white;
    color: $black;
    border-radius: 6px 6px 6px 6px;
    h2 {
      width: 100%;
      border-radius: 6px 6px 0px 0px;
      height: 57px;
      background: $lgray;
      color: $black;
      text-align: center;
      padding-top: 10px;
      font-size: 1.3em;
     }
    
     h3 {
      margin-top: 30px;
      margin-left: 40px;
      margin-bottom: 15px;
     }
    
     form {
      margin-left: 35px;
     }
     
     input.details {
      width: 320px;
      margin-bottom: 20px;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 1px solid $lgray;
     }
    
    .subscribe {
      margin-left: 40px;
    }
    
    input[name="subscription"] {
      accent-color: $green;
    }

    label {
      margin-right: 20px;
    }
    
    button.start {
      border: none;
      background: $green;
      color: $white;
      width: 400px;
      height: 60px;
      margin-top: 25px;
      font-size: 1.2em;
      cursor: pointer;
      border-radius: 0px 0px 6px 6px;
      transition: 0.3s;
    }
    
    button.start:hover {
      background: $white;
      color: $green;
      border: 2px solid $green;
    }
  
  }

  @media (max-width: 500px){
    article::before{
      margin-top: 230px;
      width: 570px;
      height: 450px;
    }
    article {
      margin-top: 160px;
      display: flex;
      flex-direction: column;
      height: 700px;
    }
    article .first {
      width: 500px;
      height: 550px;
      img{
        display: none;
      }
      h1{
        font-size: 1em;
        text-align: center;
        position: relative;
        left: 140px;
        top: 0px;
      }
      p{
        font-size: 0.7em;
        text-align: center;
        width: 210px;
        position: relative;
        top: -50px;
        left: 20px;
      }
      button.download{
        position: relative;
        top: -110px;
        left: 290px;
      }
    }
    article .second {
      width: 250px;
      height: 320px;
      position: relative;
      top: -80px;
      left: 50px;
      input.details {
        width: 180px;
        position: relative;
        left: -5px;
        top: -30px;
      }
      h2 {
        font-size: 1em;
        height: 40px;
      }
      button.start{
        width: 250px;
        height: 40px;
        font-size: 0.9em;
        position: relative;
        top: -53px;
      }
    }

    .subscribe {
      position: relative;
      top: -80px;
      label {
        font-size: 0.8em;
      }
    }
  
 
  }
  
    
  // @media (max-width: 500px){
  //   article {
  //     position: relative;
  //     flex-direction: column;
  //     left: -80px;
  //     height: 450px;
  //     margin-right: -80px;
  //     top: 230px;
  //   }

  //   body {
  //     background: $peach;
  //   }
  
  //   .first p {
  //     inline-size: 450px;
  //     overflow-wrap: break-word;
  //   }
  
  //   .first button.download {
  //     margin-bottom: 20px;
  //   }

  
  //   .second {
  //     position: relative;
  //     left: 40px; 
  //   }
  //   article .second {
  //     background: $peach;
  //     width: 350px;
  //     height: 400px;
  //     form {
  //       position: relative;
  //       right: 30px;
  //       input {
  //         width: 250px;
  //       }
  //     }
  //     label {
  //       font-size: 0.8em;
  //     }
  //     button.start {
  //       width: 350px;
  //     }
  // } 
  // }
  