figcaption {
    background: $blue;
    height: 783px;
    color: $white;
    padding-top: 20px;
  
    h1 {
      margin-top: 50px;
      margin-bottom: 10px;
      padding-left: 40px;
    }
  
    img {
      margin-left: 130px;
      height: 2px;
      width: 90px;
      margin-bottom: 10px;
    }
  
    .centras2 {
      padding-left: 500px;
  
      p{
        font-size: 0.7em;
        padding-top: 15px;
        margin-bottom: 60px;
        padding-left: 30px;
      }
    }
}
  
  
    .flex-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      text-align: center;
      gap: 25px; 
    }
  
    .price {
      font-size: 5em;
      padding-top: 20px;
      // margin-bottom: 20px;
      // padding-right: 310px;
    }
  


    .period {
      font-size: 0.7em;
      text-align: center;
      padding-right: 290px;
      position: relative;
      left: 140px;
    }

    p.period {
      line-height: 1.5em;
      height: 3em;
      overflow: hidden;
      white-space: nowrap;
      width: 100%;
    }
  
   
    
  .plan1 {
    width: 343px;
    height: 471px;
    margin-top: 30px;

  }
  
  .plan2 {
    width: 343px;
    height: 490px;
  
    // .period {
    //   margin-bottom: -30px;
    // }
  }
  
  button.popular {
    margin-top: 4px;
    width: 343px;
    border: none;
    height: 30px;
    background: $green;
    color: $white;
    cursor: pointer;
  }
  
  
  
  .virsus1 {
    background: $black;
    border-radius: 5px 5px 0px 0px;  
    height: 180px;
   } 
  
   .virsus2 {
    background: $black;
    border-radius: 5px 5px 0px 0px;
    height: 214px;
   } 
   
   ul.special {
    background: $white;
    color: $gray;
    text-align: center;
    padding-top: 10px;
    list-style-type: none;
   }

   ul.basic {
    background: $white;
    color: $gray;
    text-align: center;
    padding-top: 10px;
    list-style-type: none;
   }
  
  ul.special {
    border-top: 4px solid $green;
    }
  
   li.things {
    background: $white;
    color: $gray;
    list-style: none;
    font-size: 0.9em;
    padding-bottom: 15px;
   }
  
  
  @media (max-width: 500px){
    figcaption {
      width: 483px;
      height: 500px;
      .plan1{
        margin-top: -286px;
      }
      .plan2{
        margin-top: -330px;
      }
    }
    ul {
      font-size: 0.7em;
    }
  
    .rusis {
      font-size: 0.9em;
      position: relative;
    }
  
    .price {
      position: relative;
      bottom: 25px;
    }

    
  
    .period {
      position: relative;
      left: 18px;
      bottom: 15px;
    }

    .centras2 {
      visibility: hidden;
    }

    .flex-container{
    .plan1 {
      width: 120px;
    }
    .plan2 {
      width: 120px;
      button {
        width: 120px;
        font-size: 0.6em;
      }
    }
  }

  }
  