figure {
    background: $peach;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 80px;
    padding-top: 80px;
  }
  
  .centras4 {
    color: $white;
    text-align: center;
    h1 {
      text-align: center;
      position: relative;
      margin-bottom: 40px;
    }
    p {
      margin-bottom: 20px
    }
  }
  
  .lentele {
    width: 370px;
    height: 250px;
    background: $white;
    border-radius: 5px;
    padding-top: 30px;
  }

  input.details1 {
    width: 250px;
    border: none;
    border-bottom: 1px solid $gray;
    margin-bottom: 20px;
    margin-left: 55px;
  }

 
  
  .subscribe1 {
    font-size: 0.7em;
    text-align: center;
    position: relative;
    right: 16;
    label {
      margin-right: 20px;
    }
  }

  input[name="subscription"] {
    accent-color: $green;
  }
  
  button.send {
    background: $green;
    border: none;
    border-radius: 5px;
    position: relative;
    width: 158px;
    height: 48px;
    color: $white;
    top: 10%;
    left: 28%;
    cursor: pointer;
  }
  

  @media (max-width: 500px){

    figure {
      height: 360px;
    }
    

    .centras4{ 
      h1 {
      margin-top: -60px;
      font-size: 1em;
    }
    p {
      margin-top: -30px;
      font-size: 0.7em;
    }
  }
  .lentele {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: -10px;
    width: 250px;
    input {
      width: 200px;
      margin-left: 20px;
    }
  }
  .subscribe1 {
    margin-top: 20px;
    margin-left: -60px;
    input {
      width: 40px;
      margin-right: -12px;
    }
    label {
      margin-right: -20px;
    }

  }
  button.send {
    width: 100px;
    height: 30px;
    position: relative;
    margin-bottom: 20px;
  }
}