main {
    @include padding-settings;
    background: linear-gradient(rgba(218, 96, 96, 0.5)),url('../images/christoffer.jpg');
    background-size: cover;
    height: 495px;
    background-position: bottom;
    padding-top: 90px;
  }

  .tab {
    overflow: hidden;
    visibility: hidden;
    position: relative;
    top: 50px;
  }

  .flex-container {
    display: flex;
    flex-direction: column;
  }

  .flex-container > button {
    background-color: $cacao;
    width: 100px;
    height: 100px;
    text-align: center;
    margin: 10px;
    line-height: 75px;
    position: relative;
    top: 100px;
    transition: 0.3s;
  }

  .flex-container > button:hover {
    background-color: $peach ;
  }

  #spalva2:hover {
    opacity: 0.4;
  }

  .tabcontent {
    display: none;
    padding: 6px 12px;
    width: 500px;
    position: relative;
    right: 260px;
    top: 30px;
    color: $white;
    h1 {
      padding-bottom: 30px;
    }
  }

  .mazesni {
    width: 147px;
    position: relative;
    left: 940px;
    top: -90px;
  }

  .apacia img {
    width: 300px;
    position: relative;
    top: 60px;
    right: -70px;
  }

 @media (max-width:500px){
  main{
    height: 300px;
  }

}